.dialog-header {
    background-color: green ;
    color: white;
    font-size: 18px;
    padding-left: 10px;
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding: 16px;
  }

  .dialog-button {
    color: green;
    font-weight: bold;
    size: 12px;
  }


  .alert-container {
    background-color: #1976d2; /* Azul */
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px; /* Separa el mensaje del formulario */
  }
  