<header class="dialog-header">
  <h2>{{ customer.customerName }} - Orders</h2>
</header>

<mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="orderid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.orderid }} </td>
    </ng-container>

    <ng-container matColumnDef="requireddate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Required Date </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.requireddate }} </td>
    </ng-container>

    <ng-container matColumnDef="shippeddate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipped Date </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.shippeddate }} </td>
    </ng-container>

    <ng-container matColumnDef="shipname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipped Name </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.shipname }} </td>
    </ng-container>

    <ng-container matColumnDef="shipaddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship Address </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.shipaddress }} </td>
    </ng-container>

    <ng-container matColumnDef="shipcity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship City </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.shipcity  }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button color="warn" class="dialog-button" (click)="close()">CLOSE</button>
</mat-dialog-actions>

